{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>슬기로운 문화생활 - 공연 및 문화 데이터 플랫폼</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>

                    <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
                        <div class="container px-5">
                            <a class="navbar-brand text-dark" href="/main/">슬기로운 문화생활</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto me-lg-5">
                                    <li class="nav-item dropdown dropdown-xl no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            문화 컨텐츠
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up me-lg-n25 me-xl-n15" aria-labelledby="navbarDropdownDemos">
                                            <div class="row g-0">
                                                <div class="col-lg-5 p-lg-3 bg-img-cover overlay overlay-primary overlay-70 d-none d-lg-block" style="background-image: url('assets/img/backgrounds/bg-dropdown-xl.jpg')">
                                                    <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                                        <div class="text-white text-center z-1">
                                                            <div class="mb-3">내가 관심있는 컨텐츠의 정보를 한 눈에 확인해보세요.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 p-lg-5">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h6 class="dropdown-header text-primary">영화</h6>
                                                            <a class="dropdown-item" href="/movie/">영화 목록</a>
                                                            <a class="dropdown-item" href="/people/">인물 목록</a>
                                                            <a class="dropdown-item" href="/boxoffice/">박스오피스</a>
                                                            <a class="dropdown-item" href="/awards/">영화제</a>
                                                            <div class="dropdown-divider border-0"></div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <h6 class="dropdown-header text-primary">공연</h6>
                                                            <a class="dropdown-item" href="/prf/">공연 목록</a>
                                                            <div class="dropdown-divider border-0 d-lg-none"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- <li class="nav-item dropdown dropdown-xl no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            나의 문화생활
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up me-lg-n25 me-xl-n15" aria-labelledby="navbarDropdownDemos">
                                            <div class="row g-0">
                                                <div class="col-lg-5 p-lg-3 bg-img-cover overlay overlay-primary overlay-70 d-none d-lg-block" style="background-image: url('assets/img/backgrounds/bg-dropdown-xl.jpg')">
                                                    <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                                        <div class="text-white text-center z-1">
                                                            <div class="mb-3">문화생활과 커뮤니티. 서로의 이야기들을 공유하고 즐거움을 찾아보는 시간을 가져요.</div>
                                                            <a class="btn btn-white btn-sm text-primary fw-500" href="index.html">View All</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 p-lg-5">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h6 class="dropdown-header text-primary">영화</h6>
                                                            <a class="dropdown-item" href="landing-app-desktop.html">내가 찜한 영화</a>
                                                            <a class="dropdown-item" href="landing-app-mobile.html">나의 별점</a>
                                                            <a class="dropdown-item" href="landing-app-desktop.html">나의 리뷰</a>
                                                            <div class="dropdown-divider border-0"></div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <h6 class="dropdown-header text-primary">공연</h6>
                                                            <a class="dropdown-item" href="landing-multipurpose.html">내가 찜한 공연</a>
                                                            <a class="dropdown-item" href="landing-agency.html">나의 별점</a>
                                                            <a class="dropdown-item" href="landing-agency.html">나의 리뷰</a>
                                                            <div class="dropdown-divider border-0 d-lg-none"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li> -->
                                    <li class="nav-item dropdown dropdown-xl no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            마이페이지
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up me-lg-n25 me-xl-n15" aria-labelledby="navbarDropdownDemos">
                                            <div class="row g-0">
                                                <div class="col-lg-5 p-lg-3 bg-img-cover overlay overlay-primary overlay-70 d-none d-lg-block" style="background-image: url('assets/img/backgrounds/bg-dropdown-xl.jpg')">
                                                    <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                                        <div class="text-white text-center z-1">
                                                            <div class="mb-3">사이트에서의 나의 활동을 확인해보세요.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 p-lg-5">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <h6 class="dropdown-header text-primary">문화생활</h6>
                                                            <a class="dropdown-item" href="/mypage/">마이페이지</a>
                                                            <div class="dropdown-divider border-0"></div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <h6 class="dropdown-header text-primary">회원정보</h6>
                                                            <a class="dropdown-item" href="/logout/">로그아웃</a>
                                                            <div class="dropdown-divider border-0 d-lg-none"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown no-caret">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            • • •
                                            <i class="fas fa-chevron-right dropdown-arrow"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                                            <a class="dropdown-item py-3" href="/document/">
                                                <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="book-open"></i></div>
                                                <div>
                                                    <div class="small text-gray-500">Documentation</div>
                                                    사이트 공식 이용 가이드
                                                </div>
                                            </a>
                                            <div class="dropdown-divider m-0"></div>
                                            <a class="dropdown-item py-3" href="/help/">
                                                <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="code"></i></div>
                                                <div>
                                                    <div class="small text-gray-500">고객 지원</div>
                                                    고객 상담 | FAQ | Q&A
                                                </div>
                                            </a>
                                            <div class="dropdown-divider m-0"></div>
                                            <a class="dropdown-item py-3" href="/about/">
                                                <div class="icon-stack bg-primary-soft text-primary me-4"><i data-feather="file-text"></i></div>
                                                <div>
                                                    <div class="small text-gray-500">소개</div>
                                                    개요 | 팀 소개 | 패치노트 | API
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>


                    <header class="page-header-ui page-header-ui-dark bg-img-cover overlay overlay-60" style="background-image: url('{% static 'Img/box-office.avif' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                        <div class="page-header-ui-content pt-10 position-relative">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center align-items-center">
                                    <div class="col-lg-8" data-aos="fade-right">
                                        <h1 class="page-header-ui-title mb-3">박스오피스</h1>
                                        <p class="page-header-ui-text">지역별 박스오피스 순위를 날짜별로 조회해 보세요.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>


                    <header class="page-header-ui-content position-relative">
                        <div>
                            <div class="row gx-5 justify-content-center" style="margin: 20px;">
                                <div class="col-xl-6 col-lg-8 text-center">
                                    <form  method="GET" class="row row-cols-1 row-cols-md-auto g-3 align-items-center" action="/boxoffice/">
                                        <select class="select_component" name="year">
                                            <option value="2023" {% if year == "2023" %}selected{% endif %}>2023</option>
                                            <option value="2022" {% if year == "2022" %}selected{% endif %}>2022</option>
                                            <option value="2021" {% if year == "2021" %}selected{% endif %}>2021</option>
                                            <option value="2020" {% if year == "2020" %}selected{% endif %}>2020</option>
                                            <option value="2019" {% if year == "2019" %}selected{% endif %}>2019</option>
                                            <option value="2018" {% if year == "2018" %}selected{% endif %}>2018</option>
                                        </select>
                                        <a>년 </a>
                                        <select class="select_component" name="month">
                                            <option value="12" {% if month == "12" %}selected{% endif %}> 12 </option>
                                            <option value="11" {% if month == "11" %}selected{% endif %}> 11 </option>
                                            <option value="10" {% if month == "10" %}selected{% endif %}> 10 </option>
                                            <option value="09" {% if month == "09" %}selected{% endif %}> 09 </option>
                                            <option value="08" {% if month == "08" %}selected{% endif %}> 08 </option>
                                            <option value="07" {% if month == "07" %}selected{% endif %}> 07 </option>
                                            <option value="06" {% if month == "06" %}selected{% endif %}> 06 </option>
                                            <option value="05" {% if month == "05" %}selected{% endif %}> 05 </option>
                                            <option value="04" {% if month == "04" %}selected{% endif %}> 04 </option>
                                            <option value="03" {% if month == "03" %}selected{% endif %}> 03 </option>
                                            <option value="02" {% if month == "02" %}selected{% endif %}> 02 </option>
                                            <option value="01" {% if month == "01" %}selected{% endif %}> 01 </option>
                                        </select>
                                        <a>월 </a>
                                        <select class="select_component" name="date">
                                            <option value="31" {% if date == "31" %}selected{% endif %}> 31 </option>
                                            <option value="30" {% if date == "30" %}selected{% endif %}> 30 </option>
                                            <option value="29" {% if date == "29" %}selected{% endif %}> 29 </option>
                                            <option value="28" {% if date == "28" %}selected{% endif %}> 28 </option>
                                            <option value="27" {% if date == "27" %}selected{% endif %}> 27 </option>
                                            <option value="26" {% if date == "26" %}selected{% endif %}> 26 </option>
                                            <option value="25" {% if date == "25" %}selected{% endif %}> 25 </option>
                                            <option value="24" {% if date == "24" %}selected{% endif %}> 24 </option>
                                            <option value="23" {% if date == "23" %}selected{% endif %}> 23 </option>
                                            <option value="22" {% if date == "22" %}selected{% endif %}> 22 </option>
                                            <option value="21" {% if date == "21" %}selected{% endif %}> 21 </option>
                                            <option value="20" {% if date == "20" %}selected{% endif %}> 20 </option>
                                            <option value="19" {% if date == "19" %}selected{% endif %}> 19 </option>
                                            <option value="18" {% if date == "18" %}selected{% endif %}> 18 </option>
                                            <option value="17" {% if date == "17" %}selected{% endif %}> 17 </option>
                                            <option value="16" {% if date == "16" %}selected{% endif %}> 16 </option>
                                            <option value="15" {% if date == "15" %}selected{% endif %}> 15 </option>
                                            <option value="14" {% if date == "14" %}selected{% endif %}> 14 </option>
                                            <option value="13" {% if date == "13" %}selected{% endif %}> 13 </option>
                                            <option value="12" {% if date == "12" %}selected{% endif %}> 12 </option>
                                            <option value="11" {% if date == "11" %}selected{% endif %}> 11 </option>
                                            <option value="10" {% if date == "10" %}selected{% endif %}> 10 </option>
                                            <option value="09" {% if date == "09" %}selected{% endif %}> 09 </option>
                                            <option value="08" {% if date == "08" %}selected{% endif %}> 08 </option>
                                            <option value="07" {% if date == "07" %}selected{% endif %}> 07 </option>
                                            <option value="06" {% if date == "06" %}selected{% endif %}> 06 </option>
                                            <option value="05" {% if date == "05" %}selected{% endif %}> 05 </option>
                                            <option value="04" {% if date == "04" %}selected{% endif %}> 04 </option>
                                            <option value="03" {% if date == "03" %}selected{% endif %}> 03 </option>
                                            <option value="02" {% if date == "02" %}selected{% endif %}> 02 </option>
                                            <option value="01" {% if date == "01" %}selected{% endif %}> 01 </option>
                                        </select>
                                        <a>일</a>
                                        <div class="col"><button class="btn btn-teal fw-500" type="submit"> 검색하기 </button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </header>
                </main>

                <!-- 이 포인트로 돌아와라, 263줄 참고해라  -->

                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-xl-3 mb-5">
                            <div class="card">
                                <div class="list-group list-group-flush small">
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105001">
                                        <!-- <i class="fas fa-plus fa-fw me-2 text-gray-400"></i> -->
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>서울</b> |<br> 
                                        &emsp;&emsp;&emsp;Seoul
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105002">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>경기도</b> |<br>
                                        &emsp;&emsp;&emsp;Gyeonggi
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105003">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>강원도</b> |<br>
                                        &emsp;&emsp;&emsp;Gangwon
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105004">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>충청북도</b> |<br>
                                        &emsp;&emsp;&emsp;Chungcheongbuk
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105005">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>충청남도</b> |<br>
                                        &emsp;&emsp;&emsp;Chungcheongnam
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105006">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>경상북도</b> |<br>
                                        &emsp;&emsp;&emsp;Gyeongsangbuk
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105007">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>경상남도</b> |<br>
                                        &emsp;&emsp;&emsp;Gyeongsangnam
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105008">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>전라북도</b> |<br>
                                        &emsp;&emsp;&emsp;Jeollabuk
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105009">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>전라남도</b> |<br>
                                        &emsp;&emsp;&emsp;Jeollanam
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105010">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>제주도</b> |<br>
                                        &emsp;&emsp;&emsp;Jeju
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105011">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>부산광역시</b> |<br>
                                        &emsp;&emsp;&emsp;Busan
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105012">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>대구광역시</b> |<br>
                                        &emsp;&emsp;&emsp;Daegu
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105013">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>대전광역시</b> |<br>
                                        &emsp;&emsp;&emsp;Daejeon
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105014">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>울산광역시</b> |<br>
                                        &emsp;&emsp;&emsp;Ulsan
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105015">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>인천광역시</b> |<br>
                                        &emsp;&emsp;&emsp;Incheon
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105016">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>광주광역시</b> |<br>
                                        &emsp;&emsp;&emsp;Gwangju
                                    </a>
                                    <a id="seoulButton" class="list-group-item list-group-item-action p-3" area="0105017">
                                        <img src="{% static 'Img/click.png' %}" width="40" height="40" alt="click">
                                        <b>세종특별시</b> |<br>
                                        &emsp;&emsp;&emsp;Sejong
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-xl-9">
                            <div class="card mb-3">
                                <div class="list-group list-group-flush">
                                    <div class="accordion shadow mb-5" id="accordionAuth">
                                        {% for i, movie in box_details.iterrows %}
                                        <div class="accordion-item">
                                            <h5 class="accordion-header" id="heading{{ movie.rank }}">
                                                <button class="accordion-button p-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ movie.rank }}" aria-expanded="true" aria-controls="collapse{{ movie.rank }}">
                                                    <!-- <div class="icon-stack icon-stack bg-green-soft text-green flex-shrink-0 me-4"><p>{{ movie.rank }}</p></div> -->
                                                    <div class="icon-stack icon-stack bg-green-soft text-green flex-shrink-0 me-4">
                                                        {% if movie.rank == '1' %}
                                                            <img src="{% static 'Img/medal.png' %}" width="60" height="60" alt="Image 1">
                                                        {% elif movie.rank == '2' %}
                                                            <img src="{% static 'Img/medal_2.png' %}" width="60" height="60" alt="Image 2">
                                                        {% elif movie.rank == '3' %}
                                                            <img src="{% static 'Img/medal_3.png' %}" width="60" height="60" alt="Image 2">
                                                        {% else %}
                                                            <p><b><span class="big-font">{{ movie.rank }}</span></b></p>
                                                            <!-- <img src="{% static 'Img/2nd.png' %}" width="80" height="80" alt="Image 2"> -->
                                                        {% endif %}
                                                    </div>
                                                    <h2 class="mb-4"><b>{{ movie.movie_nm }}</b></h2>
                                                </button>
                                            </h5>
                                            <div class="accordion-collapse collapse" id="collapse{{ movie.rank }}" aria-labelledby="heading{{ movie.rank }}" data-bs-parent="#accordionAuth">
                                                <div class="accordion-body p-4">
                                                    {% load humanize %}
                                                    <div class="text-xs text-uppercase-expanded text-primary mb-2">INFOS</div>
                                                    <h6> <span class="small-font">개봉일</span> <b>{{ movie.movie_open }}</b><br><span class="small-font">상영관 수</span> <b>{{ movie.scrn_cnt }}</b> </h6>
                                                    <br>
                                                    <div class="text-xs text-uppercase-expanded text-primary mb-2">AUDIENCE</div>
                                                    <h6> <span class="small-font">오늘</span> <b>{{ movie.audi_cnt|intcomma }}명</b> ・ <span class="small-font">총</span> <b>{{ movie.audi_acc|intcomma }}명</b></h6>
                                                    <br>
                                                    <div class="text-xs text-uppercase-expanded text-primary mb-2">SALES ACCOUNT</div>
                                                    <h6> <span class="small-font">오늘</span> <b>{{ movie.sales_amount|intcomma}}원</b> ・ <span class="small-font">총</span> <b>{{ movie.sales_acc|intcomma }}원</b></h6>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            

            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                    <div class="container px-5">
                        <div class="row gx-5">
                            <div class="col-lg-3">
                                <div class="footer-brand">슬기로운 문화생활</div>
                                <div class="mb-3">공연 및 영화 데이터 플랫폼</div>
                                <div class="icon-list-social mb-5">
                                    <a class="icon-list-social-link" href="/main/"><i class="fab fa-github"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row gx-5">
                                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">문화 컨텐츠</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="/movie/">영화 목록</a></li>
                                            <li class="mb-2"><a href="/people/">영화 인물 목록</a></li>
                                            <li class="mb-2"><a href="/boxoffice/">박스오피스</a></li>
                                            <li class="mb-2"><a href="/awards/">영화제</a></li>
                                            <li class="mb-2"><a href="/prf/">공연 목록</a></li>
                                        </ul>
                                    </div>
                                    <!-- <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">나의 문화생활</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#!">내가 찜한 영화</a></li>
                                            <li class="mb-2"><a href="#!">나의 별점(영화)</a></li>
                                            <li class="mb-2"><a href="#!">나의 리뷰(영화)</a></li>
                                            <li class="mb-2"><a href="#!">내가 찜한 공연</a></li>
                                            <li class="mb-2"><a href="#!">나의 별점(공연)</a></li>
                                            <li class="mb-2"><a href="#!">나의 리뷰(공연)</a></li>
                                        </ul>
                                    </div> -->
                                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">마이페이지</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="/mypage/">마이페이지</a></li>
                                            <li class="mb-2"><a href="/logout/">로그아웃</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="text-uppercase-expanded text-xs mb-4">• • •</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="/document/">Documentation</a></li>
                                            <li class="mb-2"><a href="/help/">고객 지원</a></li>
                                            <li class="mb-2"><a href="/about/">소개</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-5" />

                        <div class="row gx-5 align-items-center">
                            <div class="col-md-6 small">Copyright &copy; 슬기로운 문화생활 2023</div>
                            <div class="col-md-6 text-md-end small">
                                <a href="/policy/">운영 약관 및 정책</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js'%}"></script>
    </body>
</html>

{% comment %} <script>
    const year = "{{ year }}";
    const month = "{{ month }}";
    const date = "{{ date }}";

    const areaDivs = document.querySelectorAll(".list-group-item");
    areaDivs.forEach(div => {
        div.addEventListener("click", function() {
            const area = div.getAttribute("area");
            const url = `/boxofice?year=${year}&month=${month}&date=${date}&area=${area}`;

            window.location.href = url;
        });
    });
</script>  {% endcomment %}

<script>
    const updateAreaParameter = (newAreaValue) => {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('area', newAreaValue);

        // 현재 URL을 수정한 파라미터로 업데이트
        const newUrl = `${window.location.pathname}?${urlParams.toString()}`;

        // 수정된 URL로 페이지 이동
        window.location.href = newUrl;
    };

    const areaDivs = document.querySelectorAll(".list-group-item");
    areaDivs.forEach(div => {
        div.addEventListener("click", function() {
            const area = div.getAttribute("area");

            // area 파라미터를 클릭한 버튼의 값으로 수정하고 페이지 이동
            updateAreaParameter(area);
        });
    });

</script>
<style>
    .small-font {
        font-size: 0.8em; /* 원하는 작은 크기로 설정 */
    }
    .big-font {
        font-size: 1.2em;
    }
</style>
