{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'startbootstrap-modern-business-gh-pages/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <!-- 우측 상단 타이틀 설정 -->
                    <a class="navbar-brand" href="/main">🎬 슬기로운 문화 생활</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">영화정보</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="/movie">주차별 박스오피스</a></li>
                                    <li><a class="dropdown-item" href="/movie">일반 영화</a></li>
                                    <li><a class="dropdown-item" href="/movie">😁</a></li>    
                                </ul>
                            </li>
                            <li class="nav-item dropdown">                          
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">공연정보</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog-home.html">주차별 공연</a></li>
                                    <li><a class="dropdown-item" href="blog-home.html">지역별 공연</a></li>
                                    <li><a class="dropdown-item" href="blog-post.html">이주의 공연</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">     
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">회원정보</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="/userinfo/">상세보기</a></li>
                                    <li><a class="dropdown-item" href="/users/logout/">로그아웃</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">공연 및 영화의 모든 정보를 한 곳에서.</h1>
                                <p class="lead fw-normal text-white-50 mb-4">팀 슬문생은 코로나를 기점으로 크게 줄어든 지역 문화 산업이 다시금 부흥하는 세상을 꿈꾸고 있어요.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">더 알아보기</a> <!-- 로그인 페이지로 이동 -->
                                    <a class="btn btn-outline-light btn-lg px-4" href="#!">시작하기</a> <!-- 로그인 페이지로 이동 -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img src="{% static '/images/sms_background.png' %}" width="500" height="500"/></div>
                    </div>
                </div>
            </header>

            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">문화생활은 슬문생에서. 슬문생을 찾아야 하는 이유.</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">하나도 빠짐 없이. 꼼꼼하게</h2>
                                    <p class="mb-0">1960년대부터 TMDB에 등재된 모든 영화 데이터가 들어있어요.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">아웃도어를 위한 자료 조사.</h2>
                                    <p class="mb-0">전국의 모든 영화관 및 공연장 데이터를 볼 수 있어요. 언제 어디서든 피크닉 준비가 가능해요.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">내 손 안의 커뮤니티.</h2>
                                    <p class="mb-0">언제든지 내 생각을 코멘트로 남길 수 있어요. 주변의 이웃들이 남긴 이야기들을 확인해보세요.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">발빠르고 정확하게. 추천 서비스.</h2>
                                    <p class="mb-0">여러분들을 거쳐간 작품들을 관찰하고, 다른 재미있는 작품들을 추천해드리고 있어요.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"문화 생활은 일단 밖으로 떠나는 여행에서부터 시작된다"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="fw-bold">
                                        김도훈
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        취준생, 1996.10 ~
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">무엇을 볼 수 있나요?</h2>
                                <p class="lead fw-normal text-muted mb-5">슬기로운 문화생활에서 보실 수 있는 다양한 컨텐츠들을 소개합니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">TMDB, IMDB, Spotify</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">영화 정보 열람</h5></a>
                                    <p class="card-text mb-0">일별 박스오피스, 그리고 개봉일 기준으로 1960년 1월 1일부터 현 시점까지 개봉한 영화들의 상세 정보를 열람하실 수 있어요. 영화 뿐만 아니라 관련 인물, OST 정보까지 다양한 요소들을 포함하고 있어요.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold">업데이트 주기</div>
                                                <div class="text-muted">매주 금요일 &middot; 03:00 AM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">KOPIS</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">공연 정보 열람</h5></a>
                                    <p class="card-text mb-0">2008년 1월 1일부터 현 시점까지 방영된, 혹은 방영 예정인 공연 정보를 열람하실 수 있어요. 각 지역구 별로 어떠한 공연이 진행중인지도 확인이 가능해요.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold">업데이트 주기</div>
                                                <div class="text-muted">매주 월요일 &middot; 01:00 AM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">SMS</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">자체적인 커뮤니티 및 추천 시스템</h5></a>
                                    <p class="card-text mb-0">영화 및 공연에 대하여 각 작품에 대한 평점 및 코멘트를 남겨 기록할 수 있어요. 서로가 남긴 코멘트를 확인할 수도 있고, 사용자의 평점을 바탕으로 한 추천 시스템이 다음에 무슨 작품을 볼 지 제안해줘요.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold">업데이트 주기</div>
                                                <div class="text-muted">매일 &middot; 06:00 AM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Call to action-->
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">슬문생의 새로운 소식을 전달받으세요.</div>
                                <div class="text-white-50">이메일 주소를 남겨주시면, 이벤트 및 즐거운 소식들을 정성을 담아 이메일로 보내드립니다.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="이메일 주소..." aria-label="이메일 주소..." aria-describedby="button-newsletter" />
                                    <button class="btn btn-outline-light" id="button-newsletter" type="button">등록하기</button>
                                </div>
                                <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'startbootstrap-modern-business-gh-pages/js/scripts.js' %}"></script>
    </body>
</html>
