{% extends 'usersBase.html' %}

{% block content %}
<div id="login">
    <form method="POST">
        <h1>🎬 슬기로운 문화생활</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-login">로그인</button>     
        <a href="/users/signup/">회원가입 페이지로 이동</a>   
    </form>
</div>
{% endblock %}

<!-- {% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="login">
        <form method="POST">
            <h1>Pystagram</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-login">로그인</button>
        </form>
    </div>
</body>
</html> -->