{% extends 'usersBase.html' %}

{% block content %}
<div id="signup">
    <form method="POST" enctype="multipart/form-data">
        <h1>🎬 슬기로운 문화생활</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-signup" href="/users/login/">가입</button>
        <a href="/users/login/">로그인 페이지로 이동</a>        
    </form>
</div>
{% endblock %}

<!-- {% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="signup">
        <form method="POST" enctype="multipart/form-data">
            <h1>Pystagram</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-signup">가입</button>
        </form>
    </div>
</body>
</html> -->